/scratch
/data/raw

# --- Haskell 
.attr-cache
.cabal-sandbox
*.hi
*.o
cabal.project.local
cabal.sandbox.config
ctags
dist-newstyle/
dist/
ghcid-output.txt
profile/
result
result-*
tags
TAGS
static.out

# --- Design ---
.DS_Store
.idea
*.log
tmp/
*.py[cod]
*.egg
build
htmlcov
design/export/vtt/*.json

# --- VTT (React) ---
logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*
node_modules
dist
dist-ssr
*.local
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
