@import "tailwindcss";
@plugin "@tailwindcss/typography";
@source "../src/**/*.hs";

/* Custom theme tokens matching vtt-react */
@theme {
  --color-slate-850: #1e293b;
  --color-slate-900: #0f172a;
  --color-slate-950: #020617;
  --color-amber-950: #451a03;

  --background-image-grid-pattern:
    linear-gradient(to right, #334155 1px, transparent 1px),
    linear-gradient(to right, #334155 1px, transparent 1px),
    linear-gradient(to bottom, #334155 1px, transparent 1px);
}

@media print {
  @page {
    size: letter;
    margin: 0.25in;
  }
}

body {
  @apply bg-slate-900 text-slate-200 m-0 print:bg-white;
}

.custom-scrollbar::-webkit-scrollbar {
  @apply w-2 h-2;
}

.custom-scrollbar::-webkit-scrollbar-track {
  @apply bg-slate-850;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  @apply bg-slate-600 rounded;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  @apply bg-slate-500;
}
