.name {
  font-size: 10;
}

body {
  margin: 0;
}

.card {
  width: 56mm;
  /* height: 83mm; */
  height: 80mm;
  border: solid 0.2mm;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  padding: 3mm;
}

.art {
  flex-grow: 1;
  height: 33mm;
}

.art-short {
  height: 22.849mm;
}

.cost {
  display: flex;
  /* Aim for the aspect ratio of a magic card */
  min-height: 1.117em;
  min-width: 0.8em;
  border-style: solid;
  border-width: 0.15em;
  border-radius: 1mm;
  justify-content: center;
}

.outline {
  outline: solid 0.2mm;
  padding: 1mm;
  border-radius: 1mm;
}

.textbox {
  flex-grow: 1;
  border: solid 0.2mm;
  margin-top: 2mm;
  padding: 1mm;
  border-radius: 1mm;
}

.textbox p {
  margin-top: 0;
  margin-bottom: 0.1em;
}

.numbers {
  display: flex;
  /* height: 4.5em; */
  flex-direction: column;
  justify-content: space-between;
  margin-top: 1mm;
  margin-bottom: 3mm;
  vertical-align: middle;
  align-items: center;
}

.numbers .resource-symbol {
  width: 1em;
  height: 1em;
}

.textbox .resource-symbol {
  width: 0.8em;
  height: 0.8em;
  margin-right: 0.15em;
}

.textbox .resource-symbol.blue {
  width: 0.65em;
  height: 0.65em;
  margin-right: 0.15em;
}

.cards {
  display: flex;
  flex: 60mm;
  flex-wrap: wrap;
}

.red {
  border-color: red;
}

.yellow {
  border-color: gold;
}

.blue {
  border-color: blue;
}

.resource-symbol {
  display: inline-block;
  vertical-align: middle;
  border-style: solid;
  border-width: 0.15em;
  border-radius: 0.15em;
}

textarea {
  width: 90%;
  min-height: 40em;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.expand {
  flex-grow: 1;
}

.resource-number {
  vertical-align: middle;
  text-align: center;
  width: inherit;
  height: inherit;
}

.resource-symbol.blue {
  transform:rotate(45deg);
  margin: 0.1em;
}

.resource-symbol.blue > .resource-number {
  transform: rotate(-45deg);
}

.resource-symbol.yellow {
  border-radius: 50%;
}

.numbers .resource-symbol.yellow {
  margin-bottom: 0.1em;
}

.w-18 {
  width: 4.5rem;
}

.h-18 {
  height: 4.5rem;
}
