.name {
  font-size: 10;
}

body {
  margin: 0;
}

.card {
  width: 56mm;
  height: 83mm;
  outline: solid 0.2mm;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  padding: 4mm;
}

.art {
  height: 33mm;
}

.cost {
  min-height: 1em;
  outline: solid .2mm;
  padding: .1mm;
  padding-left: .5mm;
  margin-bottom: .5mm;
  border-radius: 1mm;
  font-size: 8;
}

.textbox {
  flex-grow: 1;
}

.keywords {
  text-align: center;
}

span.keywords {
  border-radius: 1mm;
  padding: .1mm;
  outline: solid .2mm;
}

.numbers {
  display: flex;
  height: 1.2em;
  justify-content: space-between;
  padding-top: 1mm;
}

.cards {
  display: flex;
  flex: 60mm;
  flex-wrap: wrap;
}

.red {
  stroke: red;
  text-align: center;
}

.yellow {
  stroke: gold;
  vertical-align: middle;
}

.blue {
  stroke: blue;
}

.resource-container {
  fill: none;
}

div.resource-container {
  display: inline-grid;
  align-items: center;
  text-align: center;
}

.resource-container > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.resource-container svg {
  width: 24px;
  height: auto;
}

.textbox svg {
  height: 0.8em;
  width: auto;
}

div.resource-text {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-content: center;
  flex-wrap: wrap;
  flex-direction: column;
}

.numbers span {
  width: 1em;
  height: 1em;
}

textarea {
  width: 90%;
  min-height: 40em;
}

#diamond {
      width: 0;
      height: 0;
      border-:
