.name {
  font-size: 10;
}

body {
  margin: 0;
}

.card {
  width: 56mm;
  height: 83mm;
  outline: solid 0.2mm;
  break-inside: avoid;
  display: flex;
  flex-direction: column;
  padding: 4mm;
}

.art {
  height: 33mm;
}

.cost {
  min-height: 1em;
  outline: solid .2mm;
  padding: .1mm;
  padding-left: .5mm;
  margin-bottom: .5mm;
  border-radius: 1mm;
  font-size: 8;
}

.textbox {
  flex-grow: 1;
}

.keywords {
  text-align: center;
  outline: solid .2mm;
  border-radius: 1mm;
  padding: .1mm;
}

.numbers {
  display: flex;
  justify-content: space-between;
  padding-top: 1mm;
}

.cards {
  display: flex;
  flex: 60mm;
  flex-wrap: wrap;
}

.red {
  outline: solid 2px red;
  padding-bottom: 0.1em;
  text-align: center;
  border-radius: 0.1em;
}

.yellow {
  outline: solid 2px gold;
  padding-bottom: 0.1em;
  text-align: center;
  border-radius: 0.5em;
}

.blue {
  outline: solid 2px blue;
  transform: rotate(-45deg);
  border-radius: 0.1em;
}

.blue-container {
  width: .8em;
  height: .8em;
  display: inline-grid;
  justify-items: center;
  align-items: center;
}

.blue-container > * {
  grid-column-start: 1;
  grid-row-start: 1;
}

.blue-text {
  justify-self: center;
  text-align: center;
  margin-bottom: .2em;
  margin-left: .1em;
}

.numbers span {
  width: 1em;
  height: 1em;
}

.blue-container span {
  width: .8em;
  height: .8em;
}


textarea {
  width: 90%;
  min-height: 40em;
}

#diamond {
      width: 0;
      height: 0;
      border-:
